.propertyContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border: 2px solid #8C756A;
  border-radius: 0.5rem;
}
  
.propertyTitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
  text-align: left;
}
  
.propertyGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #333;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #333;
  padding-top: 24px;
}